﻿<div class="row mb-3">
    @Html.ActionLink("Создать работника", "Create", "Employee", new { @class = "btn btn-primary" })
</div>

<div class="row mb-3">
    @Ajax.ActionLink(
               "Обновить работников",
               "AllEmployers",
                 "Employee",
                new AjaxOptions
                {
                    UpdateTargetId = "UpdateContentDiv",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnBegin = "onAjaxBegin",
                    OnComplete = "onAjaxComplete"
                }, new { @class = "btn btn-primary", @id = "AllEmployersReloader" })
    <div id="divLoading" class="HideLoader">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>

<div id="UpdateContentDiv">
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#AllEmployersReloader").trigger("click");
    });

    function onAjaxBegin() {
        $("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
    }

    function onAjaxComplete() {
        $("#divLoading").removeClass("ShowLoader").addClass("HideLoader");
    }
</script>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}