﻿@using Sibers.BussinessLogic.DTO
@model EmployeeDTO

@{
    ViewBag.Title = "About";
}
@Html.HiddenFor(m => m.LastName);
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
