﻿@model IEnumerable<Sibers.ApplicationWeb.Models.Project.ProjectViewModel>

<table class="table table-striped">
    <tr>
        <th id="nameOrder" class="btn-link">
            @Html.DisplayNameFor(expression: model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutingCompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectChiefName)
        </th>
        <th id="startDateOrder" class="btn-link">
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th id="priorityOrder" class="btn-link">
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutingCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectChiefName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $(document).ready(function () {;
        var vb = '';
        $("#nameOrder").click(function () {
            vb = '@(ViewBag.NameSortParm)';
            setNewHref(vb);
            $("#AllProjectsReloader").trigger("click");
        });
        $("#startDateOrder").click(function () {
            vb = '@(ViewBag.StartDateSortParam)';
            setNewHref(vb);
            $("#AllProjectsReloader").trigger("click");
        });
        $("#priorityOrder").click(function () {
            vb = '@(ViewBag.PrioritySortParam)';
            setNewHref(vb);
            $("#AllProjectsReloader").trigger("click");
        });
    });

    function setNewHref(vb) {
        $("#AllProjectsReloader").attr('href', $("#AllProjectsReloader").attr('href')).attr('href', $('#vbSort').val() +'/?sortOrder=' + vb);

    }
</script>
