﻿<div class="row mb-3">
    @Html.ActionLink("Добавить проект", "Create", "Project", new { @class = "btn btn-primary" })
</div>
@{ 
    var vbSortRazor = ViewBag.NameSortParm;
}
<input type="hidden" id="vbSort" value="" />
<div class="row mb-3">
    @Ajax.ActionLink(
               "Обновить список проекты",
               "AllProjects",
                 "Project",
                 new { sortOrder = vbSortRazor },
                new AjaxOptions
                {
                    UpdateTargetId = "UpdateContentDiv",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnBegin = "onAjaxBegin",
                    OnComplete = "onAjaxComplete"
                }, new { @class = "btn btn-primary", @id = "AllProjectsReloader" })
    <div id="divLoading" class="HideLoader">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>

<div id="UpdateContentDiv">
</div>

<script type="text/javascript">

    var defaultHref = $("#AllProjectsReloader").attr('href', $("#AllProjectsReloader").attr('href')).attr('href');
    $("#vbSort").val(defaultHref);
    $(document).ready(function () {
        $("#AllProjectsReloader").trigger("click");
    });

    function onAjaxBegin() {
        $("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
    }

    function onAjaxComplete() {
        $("#divLoading").removeClass("ShowLoader").addClass("HideLoader");
    }
</script>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}